In [ ]:
import pandas as pd

authors_df = pd.read_csv('authors.csv')
comments_df = pd.read_csv('comments.csv')
inlinks_df = pd.read_csv('inlinks.csv')
posts_df = pd.read_csv('posts.csv')

In [ ]:
print(authors_df.shape)
print(authors_df.columns)
print(authors_df.head(3))

(106, 6)
Index(['1', 'Jason Kincaid', '43', '43.1', '4.257910', '5.858018'], dtype='object')
   1      Jason Kincaid   43  43.1  4.257910  5.858018
0  2  Michael Arrington  114   114  4.136101  5.645050
1  3    Erick Schonfeld   56    57  4.114451  5.660201
2  4         John Biggs   22    22  3.872279  5.293720

Рачно задавање на имиња на колони и читање без заглавие

In [ ]:
column_auth = ['auth_id', 'name', 'meibi', 'meibix', 'avg_words', 'avg_words_len_nostop']

authors_df = pd.read_csv('authors.csv', header=None, names=column_auth)
print(authors_df.head())

   auth_id               name  meibi  meibix  avg_words  avg_words_len_nostop
0        1      Jason Kincaid     43      43   4.257910              5.858018
1        2  Michael Arrington    114     114   4.136101              5.645050
2        3    Erick Schonfeld     56      57   4.114451              5.660201
3        4         John Biggs     22      22   3.872279              5.293720
4        5         MG Siegler     66      65   3.923442              5.509575

In [ ]:
column_com = ['com_id', 'post_id', 'content', 'author', 'date', 'vote']

comments_df = pd.read_csv('comments.csv', header=None, names=column_com)
print(comments_df.head())

   com_id  post_id                                            content  \
0       1        1                               Seemed to work fine.
1       2        1  I tried this the first second you published it...
2       3        1  A lot of twitter apps (including mine) can mak...
3       4        1         Worked a minute ago, now it&#8217;s pulled
4       5        1  Yep. At 10:33pm pst it is down. I get an &#822...

           author        date  vote
0         BJ Cook  2010-04-01     1
1    Blitz Surfer  2010-04-01     1
2  Nischal Shetty  2010-04-01     1
3     Jonah Grant  2010-04-01     1
4   Joshua Guffey  2010-04-01     1

In [ ]:
column_inl = ['inl_id', 'post_id', 'title', 'author', 'date', 'URL']

inlinks_df = pd.read_csv('inlinks.csv', header=None, names=column_inl)
print(inlinks_df.head())

   inl_id  post_id                                              title  \
0  319895    19464                Popular Blogs And Their First Post
1  319896    19464  popular blogs and their first post - interrest...
2  319897    19464  &#12495;&#12483;&#12500;&#12540;&#12496;&#1254...
3  319898    19464  how to grow your blog through customer develop...
4  319899    19464  how to grow your blog through customer develop...

                                        author        date  \
0                                        Alex   2009-06-17
1                                        Alex   2009-06-14
2                            TechCrunch Japan   2009-06-11
3                                          JW   2009-05-03
4  dan@thefaredge.com (Daniel Teixeira-Gomes)   2009-05-02

                                                 URL
0  http://feeds.notaniche.com/~r/Afrison/~3/hXARX...
1  http://notaniche.com/popular-blogs-their-first...
2  http://www.kgrand.jp/index.php/2009/06/12/%E3%...
3  http://www.trinitude.com/web/2009/05/03/how-to...
4  http://feeds.thefaredge.com/~r/allTheFarEdge/~...

In [ ]:
column_post = ['post_id', 'title', 'bloggers_name', 'bloggers_id', 'nr_of_comments', 'content', 'URL', 'date', 'nr_retrived_inlinks', 'nr_retrived_comments', 'post_len', 'post_len_nostop', 'avg_post_len', 'avg_post_len_nostop', 'MEIBI_score', 'MEIBIX_score']

posts_df = pd.read_csv('posts.csv', header=None, names=column_post)
print(posts_df.head())

   post_id                                              title  \
0        1  We Just Tested Twitter&#8217;s @anywhere Platf...
1        2  Facebook To Launch &#8216;Relationships&#8217;...
2        3  NYTimes Request Correction/Removal Of Our Post...
3        4  Google Shows How HTML5 Can Run Quake In The Br...
4        5               The iPad: Apple&#8217;s Trojan Horse

       bloggers_name  bloggers_id  nr_of_comments  \
0      Jason Kincaid            1              14
1      Jason Kincaid            1              30
2  Michael Arrington            2              38
3    Erick Schonfeld            3              26
4         John Biggs            4              49

                                             content  \
0  During his keynote at SXSW last month, Twitter...
1  Later this month Facebook is holding its f8 co...
2  A NYTimes communications person emailed to ask...
3  A lot of attention lately has been put on the ...
4  Something struck me about Apple&#8217;s handli...

                                                 URL        date  \
0  http://techcrunch.com/2010/04/01/we-just-teste...  2010-04-01
1  http://techcrunch.com/2010/04/01/facebook-to-l...  2010-04-01
2  http://techcrunch.com/2010/04/01/nytimes-reque...  2010-04-01
3  http://techcrunch.com/2010/04/01/google-html5-...  2010-04-01
4  http://www.crunchgear.com/2010/04/01/the-ipad-...  2010-04-01

   nr_retrived_inlinks  nr_retrived_comments  post_len  post_len_nostop  \
0                    0                    14       314              223
1                    0                    30       717              488
2                    4                    38       249              168
3                   10                    26       256              172
4                    1                    49       503              348

   avg_post_len  avg_post_len_nostop  MEIBI_score  MEIBIX_score
0      4.130293             5.686099          0.0           0.0
1      4.138177             5.952869          0.0           0.0
2      3.572614             5.125000        624.0           0.0
3      3.628571             5.168605       1080.0           0.0
4      3.773279             5.356322        200.0           0.0

Проверка на имињата на колоните

In [ ]:
print(authors_df.shape)
print(authors_df.columns)
print(authors_df.head(3))

(107, 6)
Index(['auth_id', 'name', 'meibi', 'meibix', 'avg_words',
       'avg_words_len_nostop'],
      dtype='object')
   auth_id               name  meibi  meibix  avg_words  avg_words_len_nostop
0        1      Jason Kincaid     43      43   4.257910              5.858018
1        2  Michael Arrington    114     114   4.136101              5.645050
2        3    Erick Schonfeld     56      57   4.114451              5.660201

In [ ]:
print(comments_df.shape)
print(comments_df.columns)
print(comments_df.head(3))

(746561, 6)
Index(['com_id', 'post_id', 'content', 'author', 'date', 'vote'], dtype='object')
   com_id  post_id                                            content  \
0       1        1                               Seemed to work fine.
1       2        1  I tried this the first second you published it...
2       3        1  A lot of twitter apps (including mine) can mak...

           author        date  vote
0         BJ Cook  2010-04-01     1
1    Blitz Surfer  2010-04-01     1
2  Nischal Shetty  2010-04-01     1

In [ ]:
print(inlinks_df.shape)
print(inlinks_df.columns)
print(inlinks_df.head(3))

(193808, 6)
Index(['inl_id', 'post_id', 'title', 'author', 'date', 'URL'], dtype='object')
   inl_id  post_id                                              title  \
0  319895    19464                Popular Blogs And Their First Post
1  319896    19464  popular blogs and their first post - interrest...
2  319897    19464  &#12495;&#12483;&#12500;&#12540;&#12496;&#1254...

              author        date  \
0              Alex   2009-06-17
1              Alex   2009-06-14
2  TechCrunch Japan   2009-06-11

                                                 URL
0  http://feeds.notaniche.com/~r/Afrison/~3/hXARX...
1  http://notaniche.com/popular-blogs-their-first...
2  http://www.kgrand.jp/index.php/2009/06/12/%E3%...

In [ ]:
print(posts_df.shape)
print(posts_df.columns)
print(posts_df.head(3))

(19464, 16)
Index(['post_id', 'title', 'bloggers_name', 'bloggers_id', 'nr_of_comments',
       'content', 'URL', 'date', 'nr_retrived_inlinks', 'nr_retrived_comments',
       'post_len', 'post_len_nostop', 'avg_post_len', 'avg_post_len_nostop',
       'MEIBI_score', 'MEIBIX_score'],
      dtype='object')
   post_id                                              title  \
0        1  We Just Tested Twitter&#8217;s @anywhere Platf...
1        2  Facebook To Launch &#8216;Relationships&#8217;...
2        3  NYTimes Request Correction/Removal Of Our Post...

       bloggers_name  bloggers_id  nr_of_comments  \
0      Jason Kincaid            1              14
1      Jason Kincaid            1              30
2  Michael Arrington            2              38

                                             content  \
0  During his keynote at SXSW last month, Twitter...
1  Later this month Facebook is holding its f8 co...
2  A NYTimes communications person emailed to ask...

                                                 URL        date  \
0  http://techcrunch.com/2010/04/01/we-just-teste...  2010-04-01
1  http://techcrunch.com/2010/04/01/facebook-to-l...  2010-04-01
2  http://techcrunch.com/2010/04/01/nytimes-reque...  2010-04-01

   nr_retrived_inlinks  nr_retrived_comments  post_len  post_len_nostop  \
0                    0                    14       314              223
1                    0                    30       717              488
2                    4                    38       249              168

   avg_post_len  avg_post_len_nostop  MEIBI_score  MEIBIX_score
0      4.130293             5.686099          0.0           0.0
1      4.138177             5.952869          0.0           0.0
2      3.572614             5.125000        624.0           0.0

Справување со нулеви вредности

In [ ]:
print("Authors null values:")
print(authors_df.isnull().sum())
print("Posts null values:")
print(posts_df.isnull().sum())
print("Comments null values:")
print(comments_df.isnull().sum())
print("Inlinks null values:")
print(inlinks_df.isnull().sum())

Authors null values:
auth_id                 0
name                    0
meibi                   0
meibix                  0
avg_words               0
avg_words_len_nostop    0
dtype: int64
Posts null values:
post_id                  0
title                    5
bloggers_name            0
bloggers_id              0
nr_of_comments           0
content                 81
URL                      0
date                     0
nr_retrived_inlinks      0
nr_retrived_comments     0
post_len                 0
post_len_nostop          0
avg_post_len             0
avg_post_len_nostop      0
MEIBI_score              0
MEIBIX_score             0
dtype: int64
Comments null values:
com_id       0
post_id      0
content    619
author      65
date         0
vote         0
dtype: int64
Inlinks null values:
inl_id         0
post_id        0
title        622
author     24135
date           0
URL            0
dtype: int64

 Пополнување на атрибути без кои може да постои објавата

In [ ]:
posts_df['title'] = posts_df['title'].fillna('unknown')
posts_df['content'] = posts_df['content'].fillna('unknown')

In [ ]:
print("Posts null values:")
print(posts_df.isnull().sum())

Posts null values:
post_id                 0
title                   0
bloggers_name           0
bloggers_id             0
nr_of_comments          0
content                 0
URL                     0
date                    0
nr_retrived_inlinks     0
nr_retrived_comments    0
post_len                0
post_len_nostop         0
avg_post_len            0
avg_post_len_nostop     0
MEIBI_score             0
MEIBIX_score            0
dtype: int64

Бришење на коментарите за кои не е познат авторот

In [ ]:
comments_df = comments_df.dropna(subset=['content', 'author'])

In [ ]:
print("Comments null values:")
print(comments_df.isnull().sum())

Comments null values:
com_id     0
post_id    0
content    0
author     0
date       0
vote       0
dtype: int64

In [ ]:
inlinks_df['author'] = inlinks_df['author'].fillna('unknown')
inlinks_df['title'] = inlinks_df['title'].fillna('unknown')

In [ ]:
print("Inlinks null values:")
print(inlinks_df.isnull().sum())

Inlinks null values:
inl_id     0
post_id    0
title      0
author     0
date       0
URL        0
dtype: int64

Проверка на дупликат автори

In [ ]:
print(authors_df['auth_id'].duplicated().sum())

0

Валидација на врските помеѓу датотеките

In [ ]:
valid_authors = posts_df['bloggers_id'].isin(authors_df['auth_id'])
print(f"Валидни автори во posts_df: {valid_authors.sum()} / {len(posts_df)}")

Валидни автори во posts_df: 19464 / 19464

In [ ]:
valid_posts_comments = comments_df['post_id'].isin(posts_df['post_id'])
print(f"Валидни постови во comments_df: {valid_posts_comments.sum()} / {len(comments_df)}")

Валидни постови во comments_df: 745877 / 745877

In [ ]:
valid_posts_inlinks = inlinks_df['post_id'].isin(posts_df['post_id'])
print(f"Валидни постови во inlinks_df: {valid_posts_inlinks.sum()} / {len(inlinks_df)}")

Валидни постови во inlinks_df: 193808 / 193808

In [ ]:
authors_df.to_csv('clean_authors.csv', index=False)
posts_df.to_csv('clean_posts.csv', index=False)
comments_df.to_csv('clean_comments.csv', index=False)
inlinks_df.to_csv('clean_inlinks.csv', index=False)