Рачно задавање на имиња на колони и читање без заглавие

In [1]:
import pandas as pd

column_auth = ['auth_id', 'name', 'meibi', 'meibix', 'avg_words', 'avg_words_len_nostop']
authors_df = pd.read_csv('archive/authors.csv', header=None, names=column_auth, on_bad_lines='skip')

column_com = ['com_id', 'post_id', 'content', 'author', 'date', 'vote']
comments_df = pd.read_csv('archive/comments.csv' , header=None, names=column_com, on_bad_lines='skip')

column_inl = ['inl_id', 'post_id', 'title', 'author', 'date', 'URL']
inlinks_df = pd.read_csv('archive/inlinks.csv',  header=None, names=column_inl, on_bad_lines='skip')

column_post = ['post_id', 'title', 'bloggers_name', 'bloggers_id', 'nr_of_comments', 'content', 'URL', 'date', 'nr_retrived_inlinks', 'nr_retrived_comments', 'post_len', 'post_len_nostop', 'avg_post_len', 'avg_post_len_nostop', 'MEIBI_score', 'MEIBIX_score']
posts_df = pd.read_csv('archive/posts.csv', header=None, names=column_post, on_bad_lines='skip')

Проверка на имињата на колоните

In [2]:
authors_df

,auth_id,name,meibi,meibix,avg_words,avg_words_len_nostop
0,1,Jason Kincaid,43,43,4.257910,5.858018
1,2,Michael Arrington,114,114,4.136101,5.645050
2,3,Erick Schonfeld,56,57,4.114451,5.660201
3,4,John Biggs,22,22,3.872279,5.293720
4,5,MG Siegler,66,65,3.923442,5.509575
...,...,...,...,...,...,...
102,103,Vivian Wu,1,1,4.393893,5.849593
103,104,Wil Schroter,1,1,4.063939,5.715827
104,105,Neil Kjeldsen,3,3,4.103039,5.764594
105,106,Natali Del Conte,4,4,4.067162,5.650984
106,107,Fred Oliveira,1,1,4.278449,5.757716

In [3]:
comments_df

,com_id,post_id,content,author,date,vote
0,1,1,Seemed to work fine.,BJ Cook,2010-04-01,1
1,2,1,I tried this the first second you published it...,Blitz Surfer,2010-04-01,1
2,3,1,A lot of twitter apps (including mine) can mak...,Nischal Shetty,2010-04-01,1
3,4,1,"Worked a minute ago, now it&#8217;s pulled",Jonah Grant,2010-04-01,1
4,5,1,Yep. At 10:33pm pst it is down. I get an &#822...,Joshua Guffey,2010-04-01,1
...,...,...,...,...,...,...
746556,746557,5765,This sounds like a non-story. One URL shorten...,Sanjay Sharma,2009-07-20,1
746557,746558,5765,This is a non-story. He knew about it and men...,Amy,2009-07-20,1
746558,746559,5765,Man I feel kind of dumb. I didn&#8217;t even n...,Wallpapers,2009-07-20,1
746559,746560,5765,I don&#8217;t think its that big a deal and mo...,Daniel Licht,2009-07-20,1
746560,746561,5765,"actually i am happy with dig until this time ,...",Blogging Tips and make money,2009-07-22,1

In [4]:
inlinks_df

,inl_id,post_id,title,author,date,URL
0,319895,19464,Popular Blogs And Their First Post,Alex,2009-06-17,http://feeds.notaniche.com/~r/Afrison/~3/hXARX...
1,319896,19464,popular blogs and their first post - interrest...,Alex,2009-06-14,http://notaniche.com/popular-blogs-their-first...
2,319897,19464,&#12495;&#12483;&#12500;&#12540;&#12496;&#1254...,TechCrunch Japan,2009-06-11,http://www.kgrand.jp/index.php/2009/06/12/%E3%...
3,319898,19464,how to grow your blog through customer develop...,JW,2009-05-03,http://www.trinitude.com/web/2009/05/03/how-to...
4,319899,19464,how to grow your blog through customer develop...,dan@thefaredge.com (Daniel Teixeira-Gomes),2009-05-02,http://feeds.thefaredge.com/~r/allTheFarEdge/~...
...,...,...,...,...,...,...
193803,513698,4,Minotaur Resources,Mr Minotaur,2010-04-02,http://minotaurresources.com.au/google-shows-h...
193804,513699,3,Moving into the Fourth Estate: Foolish April,Kashmir Hill,2010-04-02,http://kashmirhill.blogspot.com/2010/04/foolis...
193805,513700,3,Photoatomic Research Institute: APRIL FOOLS,Jeremy,2010-04-02,http://photoatomic.blogspot.com/2010/04/april-...
193806,513701,3,Computer Professionals for April Foolishness: ...,Debora Weber-Wulff,2010-04-02,http://cpfaf.blogspot.com/2010/04/new-york-tim...
193807,513702,3,April Fools Reality,Gerrit Eicker,2010-04-02,http://wir-sprechen-online.com/2010/04/02/apri...

In [5]:
posts_df

,post_id,title,bloggers_name,bloggers_id,nr_of_comments,content,URL,date,nr_retrived_inlinks,nr_retrived_comments,post_len,post_len_nostop,avg_post_len,avg_post_len_nostop,MEIBI_score,MEIBIX_score
0,1,We Just Tested Twitter&#8217;s @anywhere Platf...,Jason Kincaid,1,14,"During his keynote at SXSW last month, Twitter...",http://techcrunch.com/2010/04/01/we-just-teste...,2010-04-01,0,14,314,223,4.130293,5.686099,0.00000,0.0
1,2,Facebook To Launch &#8216;Relationships&#8217;...,Jason Kincaid,1,30,Later this month Facebook is holding its f8 co...,http://techcrunch.com/2010/04/01/facebook-to-l...,2010-04-01,0,30,717,488,4.138177,5.952869,0.00000,0.0
2,3,NYTimes Request Correction/Removal Of Our Post...,Michael Arrington,2,38,A NYTimes communications person emailed to ask...,http://techcrunch.com/2010/04/01/nytimes-reque...,2010-04-01,4,38,249,168,3.572614,5.125000,624.00000,0.0
3,4,Google Shows How HTML5 Can Run Quake In The Br...,Erick Schonfeld,3,26,A lot of attention lately has been put on the ...,http://techcrunch.com/2010/04/01/google-html5-...,2010-04-01,10,26,256,172,3.628571,5.168605,1080.00000,0.0
4,5,The iPad: Apple&#8217;s Trojan Horse,John Biggs,4,49,Something struck me about Apple&#8217;s handli...,http://www.crunchgear.com/2010/04/01/the-ipad-...,2010-04-01,1,49,503,348,3.773279,5.356322,200.00000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19459,19460,Google Reviews Profile,Michael Arrington,2,4,Company: Google (Reviews)What is it?There&#821...,http://techcrunch.com/2005/06/12/google-reviews/,2005-06-12,0,3,209,141,3.737864,5.460993,0.00000,0.0
19460,19461,BackPack Profile,Michael Arrington,2,12,Company: BackPackWhat is it?BackPack launched ...,http://techcrunch.com/2005/06/12/backpack-show...,2005-06-12,1,6,572,412,4.035842,5.466019,0.01595,0.0
19461,19462,Plazes Profile,Michael Arrington,2,27,Company: PlazesWhat is it?Plazes made an annou...,http://techcrunch.com/2005/06/11/plazes-gets-t...,2005-06-11,10,12,292,217,4.313380,5.645161,0.29613,0.0
19462,19463,FeedLounge Profile,Michael Arrington,2,12,Company: FeedLoungeWhat is it?The FeedLounge w...,http://techcrunch.com/2005/06/11/get-in-line-t...,2005-06-11,0,9,211,159,4.691176,6.018868,0.00000,0.0
19463,19464,Technorati Beta Profile,Michael Arrington,2,48,Company: Technorati (Public Beta Redesign)What...,http://techcrunch.com/2005/06/11/technorati-ne...,2005-06-11,18,22,265,195,4.944223,6.364103,0.94305,0.0

Справување со нулеви вредности

In [6]:
print("Authors null values:")
print(authors_df.isnull().sum())

Authors null values:
auth_id                 0
name                    0
meibi                   0
meibix                  0
avg_words               0
avg_words_len_nostop    0
dtype: int64

In [7]:
print("Posts null values:")
print(posts_df.isnull().sum())

Posts null values:
post_id                  0
title                    5
bloggers_name            0
bloggers_id              0
nr_of_comments           0
content                 81
URL                      0
date                     0
nr_retrived_inlinks      0
nr_retrived_comments     0
post_len                 0
post_len_nostop          0
avg_post_len             0
avg_post_len_nostop      0
MEIBI_score              0
MEIBIX_score             0
dtype: int64

In [8]:
print("Comments null values:")
print(comments_df.isnull().sum())

Comments null values:
com_id       0
post_id      0
content    619
author      65
date         0
vote         0
dtype: int64

In [9]:
print("Inlinks null values:")
print(inlinks_df.isnull().sum())

Inlinks null values:
inl_id         0
post_id        0
title        622
author     24135
date           0
URL            0
dtype: int64

 Пополнување на атрибути без кои може да постои објавата

In [10]:
posts_df['title'] = posts_df['title'].fillna('unknown')
posts_df['content'] = posts_df['content'].fillna('unknown')

In [11]:
print("Posts null values:")
print(posts_df.isnull().sum())

Posts null values:
post_id                 0
title                   0
bloggers_name           0
bloggers_id             0
nr_of_comments          0
content                 0
URL                     0
date                    0
nr_retrived_inlinks     0
nr_retrived_comments    0
post_len                0
post_len_nostop         0
avg_post_len            0
avg_post_len_nostop     0
MEIBI_score             0
MEIBIX_score            0
dtype: int64

Бришење на коментарите за кои не е познат авторот

In [12]:
comments_df = comments_df.dropna(subset=['content', 'author'])

In [13]:
print("Comments null values:")
print(comments_df.isnull().sum())

Comments null values:
com_id     0
post_id    0
content    0
author     0
date       0
vote       0
dtype: int64

In [14]:
inlinks_df['author'] = inlinks_df['author'].fillna('unknown')
inlinks_df['title'] = inlinks_df['title'].fillna('unknown')

In [15]:
print("Inlinks null values:")
print(inlinks_df.isnull().sum())

Inlinks null values:
inl_id     0
post_id    0
title      0
author     0
date       0
URL        0
dtype: int64

Проверка на дупликат автори

In [16]:
print(authors_df['auth_id'].duplicated().sum())

0

Валидација на врските помеѓу датотеките

In [17]:
valid_authors = posts_df['bloggers_id'].isin(authors_df['auth_id'])
print(f"Валидни автори во posts_df: {valid_authors.sum()} / {len(posts_df)}")

Валидни автори во posts_df: 19464 / 19464

In [18]:
valid_posts_comments = comments_df['post_id'].isin(posts_df['post_id'])
print(f"Валидни постови во comments_df: {valid_posts_comments.sum()} / {len(comments_df)}")

Валидни постови во comments_df: 745877 / 745877

In [19]:
valid_posts_inlinks = inlinks_df['post_id'].isin(posts_df['post_id'])
print(f"Валидни постови во inlinks_df: {valid_posts_inlinks.sum()} / {len(inlinks_df)}")

Валидни постови во inlinks_df: 193808 / 193808

In [20]:
# authors_df.to_csv('data/clean_authors.csv', index=False)
# posts_df.to_csv('data/clean_posts.csv', index=False)
# comments_df.to_csv('data/clean_comments.csv', index=False)
# inlinks_df.to_csv('data/clean_inlinks.csv', index=False)

authors_df.to_csv(
    'data/clean_authors.csv',
    index=False,
    quoting=1,  # csv.QUOTE_ALL
    escapechar='\\',
)

posts_df.to_csv(
    'data/clean_posts.csv',
    index=False,
    quoting=1,  # csv.QUOTE_ALL
    escapechar='\\',
)

comments_df.to_csv(
    'data/clean_comments.csv',
    index=False,
    quoting=1,  # csv.QUOTE_ALL
    escapechar='\\',
)

inlinks_df.to_csv(
    'data/clean_inlinks.csv',
    index=False,
    quoting=1,  # csv.QUOTE_ALL
    escapechar='\\',
)